{% extends "layouts/base-fullscreen.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    
  <div class="page-header align-items-start min-vh-100" 
        style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  Growth Dashboard
                </h4>
                <div class="row mt-3">
                  <p class="mb-0 text-white text-center">
                    
                    
        
                      Add your credentials
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">
              
              <form role="form" method="post" action="" class="text-start" novalidate onsubmit="return validation()">

                {{ form.hidden_tag() }} 
                <div class="form-group mb-4">
                  <label for="email">Username</label>
                  <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">
                          <span class="fas fa-user-circle"></span>
                      </span>
                      <input id="username" type="username" style="border: .5px solid black; padding-left: 10px;" class="form-control" id="username" name="username" onchange="validateUsername();"  required>
                      <div class="invalid-feedback" id="usernameError">Username is required.</div>
                  </div>  
              </div>

                <!-- <div class="input-group-text input-group-outline mb-3">
                    {{ render_field(form.username,class="form-control", id="username",type="text", placeholder="Username",onchange="validateUsername()",style="padding-left: 25px;") }}
                    <div class="invalid-feedback">Please enter a valid name.</div>
                  </div> -->
                  <div class="form-group">
                    <!-- Form -->
                    <div class="form-group mb-4">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2">
                                <span class="fas fa-unlock-alt"></span>
                            </span>
                            <input type="password" id="password" style="border: .5px solid black; padding-left: 10px;" class="form-control"  id="password" name="password" onchange="validatePassword();" required>
                        <div class="invalid-feedback" id="usernameError">Password is required.</div>
                            
                        </div>  
                    </div>
                <!-- <div class="input-group-text input-group-outline mb-3">
                  {{ render_field(form.password,class="form-control", type="password", id="password", placeholder="Password", onchange="validatePassword()",style="padding-left: 25px;") }}
                  <div class="invalid-feedback">Please enter a valid password.</div>
                </div> -->
                <!-- <div class="form-group ">
                  <label class="my-1 me-2" for="country">Role</label>
                  <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">
                          <span class="fas fa-user-circle"></span>
                      </span>
                      <select class="form-select" name="role" id="role" style="border: .5px solid black; padding-left: 10px;">
                          <option value="" selected disabled>Select a role</option>
                          <option value="ceo">CEO</option>
                          <option value="manager">Manager</option>
                          <option value="employee">Employee</option>
                      </select>

                  </div>  
              </div> -->
          <br>
                <div class="input-group-text input-group-outline mb-3">
                  {{ render_field(form.role,class="form-control", id="role_select", onchange="handleRoleChange()", style="padding-left: 55px;") }}
                  <div class="invalid-feedback">Please enter a valid role.</div>
              </div>
              <div id="department-field" style="border: .5px solid black; display: none;">
                {{ render_field(form.department, class="form-control", id="department", placeholder="Department",style="padding-left: 55px;") }}
                <div class="invalid-feedback">Please enter a valid department.</div>
            </div>
<br>            
                <div class="form-check form-switch d-flex align-items-center mb-3">
                  <input class="form-check-input" type="checkbox" id="rememberMe">
                  <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
                </div>
                <div class="text-center">
                  <button type="submit" name="login" 
                          class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                </div>
                <p class="mt-4 text-sm text-center">
                  Don't have an account?
                  <a href="{{ url_for('authentication_blueprint.register') }}" class="text-primary text-gradient font-weight-bold">Sign UP</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer-fullscreen.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function validateUsername() {
var username = document.getElementById("username").value;
if (username.length < 4) {
  document.getElementById("username").classList.add("is-invalid");
  document.getElementById("username").classList.remove("is-valid");
  document.getElementById("usernameError").innerHTML = "Please enter a valid username.";
} else {
  document.getElementById("username").classList.add("is-valid");
  document.getElementById("username").classList.remove("is-invalid");
}
};

document.getElementById("username").addEventListener("input", function(event) {
    var userInput = event.target;
    var inputValue = userInput.value;
    
    // Remove non-numeric characters (alphabets and special characters)
    var alphabetValue = inputValue.replace(/[^a-zA-Z ]/g, "");
    
    // Update the input field with the cleaned numeric value
    userInput.value = alphabetValue;
    
    // Call the phone number validation function
    validateUsername();});

// document.getElementById("loginForm").addEventListener("submit", function(event) {
//   const username = document.getElementById("username").value;
//   const password = document.getElementById("password").value;

//   if (!username || !password) {
//       alert("Please fill in all required fields.");
//       event.preventDefault(); // Prevent form submission
//   }
// });

function validatePassword() {
  var password = document.getElementById("password").value;

  var hasUppercase = /[A-Z]/.test(password);
  var hasLowercase = /[a-z]/.test(password);
  var hasDigit = /\d/.test(password);
  var hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password);
  var isLengthValid = password.length >= 8; // You can adjust the minimum length as needed

  if (!hasUppercase || !hasLowercase || !hasDigit || !hasSpecialChar || !isLengthValid) {
    document.getElementById("password").classList.add("is-invalid");
    document.getElementById("password").classList.remove("is-valid");
    document.getElementById("passwordError").innerHTML = "Please enter a valid password. It should contain at least one uppercase letter, one lowercase letter, one digit, one special character, and be at least 8 characters long.";
  } else {
    document.getElementById("password").classList.add("is-valid");
    document.getElementById("password").classList.remove("is-invalid");
    document.getElementById("passwordError").innerHTML = ""; // Clear any previous error message
  }
}

</script>


<script>
  
function validation(event) {
  const username = document.getElementById("username").value;
  const password = document.getElementById("password").value;

  if (username === "" || password === "") {
    alert("Please enter both a username and a password.");
    document.getElementById("username").classList.add("is-invalid");
    // document.getElementById("usernameError").innerHTML = "Please enter a valid credential.";
    document.getElementById("password").classList.add("is-invalid");
    // document.getElementById("passwordError").innerHTML = "Please enter a valid password. It should contain at least one uppercase letter, one lowercase letter, one digit, one special character, and be at least 8 characters long.";
    document.getElementById("role_select").classList.add("is-invalid");
    return false; // Prevent form submission
  }
  return true;
}


</script>


<script>
  function handleRoleChange() {
      var roleSelect = document.getElementById("role_select");
      var departmentField = document.querySelector("#department-field");
  
      if (roleSelect.value === "Employee" || roleSelect.value === "Manager") {
          departmentField.style.display = "block";
      } else {
          departmentField.style.display = "none";
      }
  }
  </script>
{% endblock javascripts %}